@font-face {
  font-family: 'PneuPress';
  src:  url('../fonts/PneuPress.eot?3hkicq');
  src:  url('../fonts/PneuPress.eot?3hkicq#iefix') format('embedded-opentype'),
    url('../fonts/PneuPress.ttf?3hkicq') format('truetype'),
    url('../fonts/PneuPress.woff?3hkicq') format('woff'),
    url('../fonts/PneuPress.svg?3hkicq#PneuPress') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="theme-icon-"]:before, [class*=" theme-icon-"]:before {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'PneuPress' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.theme-icon-car-oil-new:before {
  content: "\e900";
}
.theme-icon-car-repair-new:before {
  content: "\e906";
}
.theme-icon-disc-brake:before {
  content: "\e907";
}
.theme-icon-fan:before {
  content: "\e908";
}
.theme-icon-lift:before {
  content: "\e90d";
}
.theme-icon-maintenance:before {
  content: "\e90e";
}
.theme-icon-oil:before {
  content: "\e90f";
}
.theme-icon-steering-wheel-new:before {
  content: "\e910";
}
.theme-icon-tachometer:before {
  content: "\e911";
}
.theme-icon-tire-new:before {
  content: "\e912";
}
.theme-icon-tire:before {
  content: "\e913";
}
.theme-icon-wheel-new:before {
  content: "\e914";
}
.theme-icon-wrench:before {
  content: "\e915";
}
.theme-icon-battery:before {
  content: "\e916";
}
.theme-icon-car-key:before {
  content: "\e917";
}
.theme-icon-car-repair-1:before {
  content: "\e918";
}
.theme-icon-car-repair-2:before {
  content: "\e919";
}
.theme-icon-car-repair-3:before {
  content: "\e91a";
}
.theme-icon-car-repair:before {
  content: "\e91b";
}
.theme-icon-crane-new:before {
  content: "\e91c";
}
.theme-icon-crane:before {
  content: "\e91d";
}
.theme-icon-garage:before {
  content: "\e91e";
}
.theme-icon-insurance-new:before {
  content: "\e91f";
}
.theme-icon-tools:before {
  content: "\e921";
}
.theme-icon-tyre-new:before {
  content: "\e922";
}
.theme-icon-wheel-test:before {
  content: "\e923";
}
.theme-icon-wheel-only:before {
  content: "\e924";
}
.theme-icon-car-wheel:before {
  content: "\e909";
}
.theme-icon-checked:before {
  content: "\e90a";
}
.theme-icon-correct-symbol:before {
  content: "\e90b";
}
.theme-icon-icon:before {
  content: "\e90c";
}
.theme-icon-car-front:before {
  content: "\e901";
}
.theme-icon-online-shopping-cart:before {
  content: "\e902";
}
.theme-icon-settings-cogwheel-button:before {
  content: "\e903";
}
.theme-icon-shopping-cart:before {
  content: "\e904";
}
.theme-icon-swap-vertical-orientation-arrows:before {
  content: "\e905";
}
.theme-icon-car-oil:before {
  content: "\e941";
}
.theme-icon-car:before {
  content: "\e942";
}
.theme-icon-horizontal-resize-option:before {
  content: "\e943";
}
.theme-icon-refresh-arrow:before {
  content: "\e944";
}
.theme-icon-refresh-webpage:before {
  content: "\e945";
}
.theme-icon-resize-arrows:before {
  content: "\e946";
}
.theme-icon-resize-length:before {
  content: "\e947";
}
.theme-icon-resize-option:before {
  content: "\e948";
}
.theme-icon-spanner:before {
  content: "\e949";
}
.theme-icon-update-arrow:before {
  content: "\e94a";
}
.theme-icon-automobile-steering-wheel:before {
  content: "\e94b";
}
.theme-icon-car-fill-from-frontal-view:before {
  content: "\e94d";
}
.theme-icon-checked-car:before {
  content: "\e94e";
}
.theme-icon-download-arrow-down:before {
  content: "\e951";
}
.theme-icon-location-pin:before {
  content: "\e952";
}
.theme-icon-magnifying-glass:before {
  content: "\e953";
}
.theme-icon-placeholderpin:before {
  content: "\e954";
}
.theme-icon-racing:before {
  content: "\e955";
}
.theme-icon-repairing-service:before {
  content: "\e956";
}
.theme-icon-right-arrow2:before {
  content: "\e957";
}
.theme-icon-scroll-arrow-to-down:before {
  content: "\e958";
}
.theme-icon-searching-car:before {
  content: "\e959";
}
.theme-icon-shopping-cart-black-shape:before {
  content: "\e95a";
}
.theme-icon-telephone:before {
  content: "\e95b";
}
.theme-icon-time:before {
  content: "\e95c";
}
.theme-icon-wheel:before {
  content: "\e95d";
}
.theme-icon-wheels:before {
  content: "\e95e";
}
.theme-icon-like:before {
  content: "\e961";
}
.theme-icon-googleplus:before {
  content: "\e962";
}
.theme-icon-viber:before {
  content: "\e963";
}
.theme-icon-check:before {
  content: "\e964";
}
.theme-icon-truck:before {
  content: "\e965";
}
.theme-icon-unifb:before {
  content: "\e966";
}
.theme-icon-uniin:before {
  content: "\e967";
}
.theme-icon-unili:before {
  content: "\e968";
}
.theme-icon-cartire:before {
  content: "\e96a";
}
.theme-icon-google-plus:before {
  content: "\e96c";
}
.theme-icon-call-center-symbol:before {
  content: "\e96d";
}
.theme-icon-delivery-truck-with-circular-clock:before {
  content: "\e96f";
}
.theme-icon-instagram-social-network-logo-of-photo-camera:before {
  content: "\e971";
}
.theme-icon-angle-arrow-down-1:before {
  content: "\e972";
}
.theme-icon-arrow-down:before {
  content: "\e973";
}
.theme-icon-open-wrench-tool-silhouette:before {
  content: "\e974";
}
.theme-icon-repairing-service1:before {
  content: "\e975";
}
.theme-icon-settings:before {
  content: "\e976";
}
.theme-icon-twitter-logo-silhouette:before {
  content: "\e977";
}
.theme-icon-temperature:before {
  content: "\e978";
}
.theme-icon-size:before {
  content: "\e979";
}
.theme-icon-skype-logo:before {
  content: "\e97b";
}
.theme-icon-star:before {
  content: "\e97f";
}
.theme-icon-tirenew:before {
  content: "\e980";
}
.theme-icon-resized:before {
  content: "\e981";
}
.theme-icon-resize-1:before {
  content: "\e985";
}
.theme-icon-dashboard-car-wheel:before {
  content: "\e988";
}
.theme-icon-open-wrench-tool-silhouette1:before {
  content: "\e98c";
}
.theme-icon-plus-sign-in-a-black-circle:before {
  content: "\e98d";
}
.theme-icon-road-perspective:before {
  content: "\e98e";
}
.theme-icon-snowflake-1:before {
  content: "\e98f";
}
.theme-icon-snowflake:before {
  content: "\e990";
}
.theme-icon-steering-wheel:before {
  content: "\e991";
}
.theme-icon-car-wheel1:before {
  content: "\e993";
}
.theme-icon-checked-symbol:before {
  content: "\e995";
}
.theme-icon-cursor1:before {
  content: "\e996";
}
.theme-icon-layers:before {
  content: "\e997";
}
.theme-icon-lifesaver:before {
  content: "\e998";
}
.theme-icon-rating:before {
  content: "\e99a";
}
.theme-icon-road:before {
  content: "\e99b";
}
.theme-icon-shipping:before {
  content: "\e99c";
}
.theme-icon-fast-delivery:before {
  content: "\e99f";
}
.theme-icon-gasoline:before {
  content: "\e9a0";
}
.theme-icon-icon1:before {
  content: "\e9a1";
}
.theme-icon-mercury-thermometer-and-a-snowflake:before {
  content: "\e9a2";
}
.theme-icon-pin:before {
  content: "\e9a3";
}
.theme-icon-pin-check:before {
  content: "\e9a4";
}
.theme-icon-pin-search:before {
  content: "\e9a5";
}
.theme-icon-right-arrow-light:before {
  content: "\e9a7";
}
.theme-icon-size-edition:before {
  content: "\e9a8";
}
.theme-icon-tyre:before {
  content: "\e9a9";
}
.theme-icon-yelp-simple:before {
  content: "\e9aa";
}
